---
import type { CollectionEntry } from 'astro:content'
import SimpleImageV2 from '@components/astro/SimpleImageV2.astro'


interface Props {
  collection: CollectionEntry<'project-collections'>;
}

const {
  collection,
} = Astro.props;

const tileSize = collection.data.tileSize

let gridSizeClasses = "col-span-1 row-span-1"
let ratioClass = "aspect-[1.618]"
switch (tileSize) {
  
  case "2x2":
  case "2x1":
    gridSizeClasses += " 2xl:col-span-2 2xl:row-span-2 min-h-full"
    break

  default:
    break

  }

---

<div class={`${gridSizeClasses} relative w-full overflow-hidden ${ratioClass} rounded-[3.75px] overflow-hidden`}>

  <!-- Blank background to reduce image flashing on load -->
  <div class="absolute w-full h-full bg-zinc-800" />

  <!-- Image background -->
  <div class="absolute w-full h-full">
    <SimpleImageV2 src={collection.data.cover.image} class="w-full h-full object-cover aspect-square" />
  </div>

  <!-- Text overlay -->
  <div class={`
    absolute bottom-0 w-full bg-gradient-to-t from-[#000000a0] !min-h-[33%] 
    p-4 md:p-4 lg:p-5
  text-white flex flex-col justify-end items-start`}
  >
    <h2 class={`
      text-xl md:text-xl lg:text-2xl ${tileSize !== "1x1" && "2xl:text-3xl"} font-[525]
      pb-0 ${tileSize !== "1x1" && "md:pb-2"}`
    }>
      {collection.data.tileTitle || collection.data.title}
    </h2>
    {tileSize !== "1x1" && <p class="hidden md:block text-sm lg:text-base">{collection.data.slogan}</p>}
  </div>

  <a href={`/collections/${collection.slug}`} class="absolute w-full h-full" />

</div>