---
import SimpleImageV2 from '@components/astro/SimpleImageV2.astro'

interface Props {
  title?: string,
  desc?: string,
  href: string,
  src: string,
  hideOnSm?: boolean,
  tileSize?: "1x1" | "2x2" | "3x1" | "3x2",
}

const {
  title,
  desc,
  href,
  src,
  hideOnSm,
  tileSize
} = Astro.props;

let gridSizeClasses = "col-span-1 row-span-1"
let ratioClass = "aspect-[1.618]"
switch (tileSize) {
  
  case "2x2":
    gridSizeClasses += " md:col-span-2 md:row-span-2 min-h-full"
    break

  case "3x1":
    gridSizeClasses += " md:col-span-2 xl:col-span-3 min-h-full"
    ratioClass = "aspect-[4.854]"


  default:
    break

  }

---

<div class={`${gridSizeClasses} ${hideOnSm && "hidden md:inline-block"} relative w-full overflow-hidden ${ratioClass} rounded-[3.75px] overflow-hidden`}>

  <div class="absolute w-full h-full bg-zinc-800" />

  <div class="absolute w-full h-full">
    <SimpleImageV2 src={src} class="w-full h-full object-cover aspect-square" />
  </div>

  <div class={`
    absolute bottom-0 w-full bg-gradient-to-t from-[#000000a0] !min-h-[33%] 
    p-5 
  text-zinc-300 flex flex-col justify-start`}
  >
    <div class="grow" />
    <h2 class={`
      text-lg font-[450] 
      pb-0 ${desc && "md:pb-2"}`
    }>
      {title}
    </h2>
    {tileSize !== "1x1" && <p class="hidden md:block">{desc}</p>}
  </div>

  <a href={href} class="absolute w-full h-full" />

</div>