---
import Favicon from '@components/site-framework/Favicon.astro';
import Footer from '@components/site-framework/Footer.astro';
import Nav from '@components/site-framework/Nav.astro'
import '@fontsource-variable/inter';
import interWoff2 from '@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url';

interface Props {
	title: string;
	noFooterPadding?: boolean | undefined;
}

const { title, noFooterPadding } = Astro.props;

const siteName = "ai03 Design Studio"

const titleString = title === "Home" ? siteName : title + " - " + siteName
---

<!doctype html>
<html lang="en" style="scroll-behavior: smooth;">
	<head>
		<link rel="preload" as="font" type="font/woff2" fetchpriority="low" href={interWoff2} crossorigin/>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<Favicon />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<title>{titleString}</title>
	</head>
	<body style="margin: 0;">
		<div class="flex flex-col min-h-screen">
			<div class="order-2 grow">
				<slot />
			</div>
			<div class={`order-3 ${noFooterPadding !== true && "mt-20"}`}>
				<Footer />
			</div>
			<div class="order-1 z-10">
				<Nav transparent={false} lightMode={false} />
			</div>
		</div>
	</body>
</html>